!!!
html(lang="en", ng-app="notes")
  head(ng-controller="HeadCtrl")
    meta(charset='utf8')
    meta(http-equiv="Content-Language", content="en")
    base(href='/')
    title(ng-bind="path + ' notes'") notes
    link(rel='stylesheet', href='/css/app.css')
  body
    block body