/* app css stylesheet */
html, body { 
	margin: 0;
	padding: 0;
}

/* Parents of the .noteArea need to have a height
 * of 100% if we want to use CSS for setting the
 * height of .noteArea as a percentage.
 */
html, body, .view, .container, .noteContainer {
	height: 100%;
}
.noteContainer {
	height: 90%;
}

.view {
	padding-left: 25%;
	padding-right: 25%;
	width: 50%;
}

.menu {
	position: relative;
	left: 4px;
	top: 0.95em;
	width: 32px;
}

.hidden {
	visibility: hidden;
}

.noteContainer {
	border: solid 1px;
	border-top: none;
	border-bottom: none;
	border-color: #ccc;

	margin-top: 0;
	padding-top: 1.2em;

	position: relative;
	top: -1.2em;
	left: 30px;
	width: 100%;
}

.noteArea {
	height: 90%;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding: 4em;
	padding-top: 0;
	margin-right: 0;

	border: none;
	outline: none;
	resize: none;
}

#home-icon {
	padding: 0;
	padding-right: 1ex;
	opacity: 0.2;
	border: none;
}
#home-icon:hover {
	opacity: 0.7;
}

h3 {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 10pt;
	
	margin: 0;
	margin-top: -2px;

	padding: 0;
	padding-bottom: 2.5em;
	padding-left: 1.75ex;
}

