/* app css stylesheet */

html, body { 
	margin: 0;
	padding: 0;
}

/* Parents of the .noteArea need to have a height
 * of 100% if we want to use CSS for setting the
 * height of .noteArea as a percentage.
 */
html, body, .view, .container {
	height: 100%;
}

.view {
	margin-left: 25%;
}

.noteArea {
	height: 75%;
	width: 50%;
}
