	
	<h3>Notes {{path}}</h3>

	<div style="float: left; padding-right: 1ex">
	<pre id="home-icon">

                <a href="/">x</a>
             <a href="/">XXXxXXX</a>
          <a href="/">XXXXXXxXXXXXX</a>
       <a href="/">XXXXXXXXXxXXXXXXXXX</a>
    <a href="/">XXXXXXXXXXXXxXXXXXXXXXXXX</a>
 <a href="/">XXXXXXXXXXXXXXXxXXXXXXXXXXXXXXX</a>
  <a href="/">XXXXXXXXXXXXXXxXXXXXXXXXXXXXX</a>
     <a href="/">XXXXXXXXXXXxXXXXXXXXXXXX</a>
     <a href="/">XXXXXXXXXXXxXXXXXXXXXXXX</a>
     <a href="/">XXXXXXXXXXXxXXXXXXXXXXXX</a>
     <a href="/">XXXXXXXXXXXxXXXXXXXXXXXX</a>
     <a href="/">XXXXXXXXXXXxXXXXXXXXXXXX</a>
     <a href="/">XXXXXXXXXXXxXXXXXXXXXXXX</a>
     <a href="/">XXXXXXXXXXXxXXXXXXXXXXXX</a>

	</pre>
	</div>
	<textarea class="noteArea" ng-model="noteData">

	</textarea>
	<div ng-show="isThereUnsavedData || isSaving">...</div>