	<div class="menuContainer">
		<div class="menu" ng-class="{ hidden: isUsingNoteArea }">
			<div id="homeItem"><a href="/"><img 
				id="home-icon" src="/img/home.png" 
				width='16' height='16'/></a></div>
			<div class="authContainer">
				<form ng-submit="auth()" ng-hide="isAuthorized">
					<input type="password" name="auth" placeholder="authcode" 
						ng-model="authcode" on-focus="authFocus()" on-blur="authBlur()"
						focus-hook />
				</form>
			</div>
			<div ng-repeat="note in noteList" class="menuItem">
				<a href="{{base}}{{note}}">
					<div class="menuItemLink">{{note}}</div>
				</a>
			</div>
			<div id="backItem" ng-class="{ hidden: isAtRoot }"><a href="{{base}}.."><img 
				id="back-icon" src="/img/arrow-left.png" 
				width='16' height='16'/></a></div>
		</div>
	</div>

	<div class="noteContainer">
		<h3>notes <strong>{{path}}</strong></h3>
		<div class="noteArea" 
			ng-mouseenter="mouseEnterNoteArea()"
			ng-mouseleave="mouseLeaveNoteArea()">
			<div ace-editor ng-model="noteData"></div>
		</div>
		<div ng-show="isThereUnsavedData || isSaving">...</div>
	</div>